/*font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; */
:root {
    --first-colour:#FF5765;
    --second-colour: #8A6FDF;
    --third-colour: #ABEA7C;
    --fourth-colour: #B2D7DA;
    --font-heading:'Raleway', sans-serif;
    --font-main:'Open Sans', sans-serif;
    --font-accent:'Poppins', sans-serif;
}


.headerImage {
opacity: 0.9;
display: block;
margin: auto;
width: 60%; 
}

.card-img-overlay {
    margin-top: 145px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1em;
    
}
.card-title{
    font-size: 60px;
    font-family: var(--font-heading);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 84px;
}
.card-text{
    font-family: var(--font-accent);
    font-size: 48px;
    font-weight:300;
}
.profile-pic {
  max-width: 500px;
  max-height: 450px;
  border-radius: 50%;
}
.homepage-about{
    margin-top: 50px;
} 

.homepage-about-me{
    font-family: var(--font-accent);
    color: #555658;
    font-weight: bold;
}
.hi {
font-family: var(--font-heading);

    font-weight: bold;
    color: var(--second-colour);
    font-size: 40px;
    text-transform: uppercase;
}
.secondary-button{
    text-decoration: none;
    border: solid 1px var(--second-colour);
    border-radius: 5px;
    padding: 15px 25px;
    font-family: var(--font-accent);
    color: var(--second-colour);
}
.secondary-button:hover {
    color: var(--first-colour);
    background: var(--second-colour);}